{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Lista de Usuarios</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link href="{%  static 'css/bootstrap.css'  %}" rel="stylesheet">
    </head>
    <body>



    <div class="container">
        <h2 class="text-center mt-5">Lista de Usuarios</h2>
        <table class="table">
              <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Img</th>
                    <th scope="col">Prefesion</th>
                    <th scope="col">Genero</th>
                    <th scope="col">Ciudad</th>
                </tr>
              </thead>
              <tbody>
              {% for usr in get_usuarios %}
                    <tr>
                  <th scope="row">{{ usr.codigo  }}</th>
                  <td>{{ usr.nombre  }}</td>
                  <td><img  src="{{ usr.photo.url  }}" width="40" height="40" style="border-radius:50px"/></td>
                  <td>{{ usr.profesion  }}</td>
                  <td>{{ usr.genero  }}</td>
                  <td>{{ usr.ciudad  }}</td>
                </tr>
            {% endfor %}


              </tbody>
            </table>
        </div>


        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <script src="" async defer></script>
    </body>
</html>